// COLORS

$color-white: #fff;
$color-grey: rgb(160, 160, 160);
$color-grey-light: #eee;
$color-black: #000;
$color-brown: #8f3b1b;
$color-green: #668d3c;
$color-blue: #4e6172;
$color-blue-light: #85a7c5;
$color-orange: rgb(224, 148, 48);
$color-gradient-green: rgb(24,161,24);
$color-gradient-orange: orange;

// LINKS
$color-link-brown: #bf8040;
$color-link-blue: #b1d0ba;
$color-link-green: #4b844d;

// PROGRESS BAR COLORS
$bootstrap: #8c46c8;
$css: #00a1d4;
$html: #ff572f;
$javascript: #ffdb4e;
$jquery: #005fa1;
$mongo: #38ad49;
$mysql: #ff8d32;
$node: #53ca43;
$sass: #dc588e;
$react: #00d5fb;