// COLORS

$color-white: #fff;
$color-grey: rgb(160, 160, 160);
$color-grey-light: #eee;
$color-black: #000;
$color-brown: #8f3b1b;
$color-green: #668d3c;
$color-blue: #4e6172;

$color-link-brown: #bf8040;
$color-link-blue: #b1d0ba;
$color-link-green: #4b844d;