// COLORS

$color-white: #fff;
$color-grey: rgb(160, 160, 160);
$color-grey-light: #eee;
$color-black: #000;
$color-brown: #8f3b1b;
$color-green: #668d3c;
$color-blue: #4e6172;
$color-blue-light: #85a7c5;
$color-orange: #E09430;
$color-gradient-green: #18A118;
$color-gradient-orange: orange;

// LINKS
$color-link-brown: #bf8040;
$color-link-blue: #b1d0ba;
$color-link-green: #4b844d;

