.about {
   height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 50% 50%;
   clip-path: polygon(0 -90vh, 100% 0, 100% 100vh, 0 85vh);
   transform: translateY(-10rem);
   z-index: 3;


   &__me {
      background-color: $color-grey-light;
   }

   &__experience {
      background-color: $color-blue;
   }
}

.header-experience {
   margin-top: 15rem;
   font-size: 2.2rem;
}

.progress-bars {
   margin-left: 2rem;
   margin-top: 2rem;
   height: 300px;
   width: 300px;
   background-color: black;
}