.about {
   height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 30% 70%;
   clip-path: polygon(0 -90vh, 100% 0, 100% 100vh, 0 85vh);
   transform: translateY(-14.2rem);
   z-index: 3;


   &__bio {
      // background-color: $color-grey-light;
      background-image: 
      linear-gradient(
         rgba($color-grey-light, .6),
         rgba($color-white, .6)),
         url(../img/headshot.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;

   }

   &__experience {
      background-color: $color-blue;
   }
}

.center-container {
   text-align: center;
   display: block;
   width: 100%;
   height: 70%;
   position: relative;
}

.skill-container {
   position: absolute;
   display: inline-block;
   width: 30%;
   height: 60rem;
   top: 10rem;
   
   &__list {
      list-style: none;
      text-align: left;
      padding-left: 2rem;
   }
   &:not(:last-child) {
      margin-right: 2rem;
   }

   &__frontend {
      top: 20%;
      left: 3rem;
      background-color: rgba($color-link-brown, .8);
   }

   &__backend {
      top: 30%;
      left: 35%;
      background-color: $color-link-blue;
   }

   &__frameworks {
      top: 40%;
      right: 3rem;
      background-color: $color-link-green;
   }
}

.progress-bar {
   margin: 0 auto;
   width: 80%;
   height: 2.4rem;
   background-color: $color-grey;
   border-radius: .5rem;
}




