.about {
   font-family: mv boli;
   height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 30% 70%;
   -webkit-clip-path: polygon(0 -90vh, 100% 0, 100% 100vh, 0 85vh);
   clip-path: polygon(0 -90vh, 100% 0, 100% 100vh, 0 85vh);
   transform: translateY(-14.2rem);
   z-index: 3;


   &__bio {
      background-image: 
      linear-gradient(
         rgba($color-grey-light, .2),
         rgba($color-white, .2)),
         url(../img/headshot.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;

   }

   &__experience {
      background-image:
      linear-gradient(
         rgba($color-link-blue, .8),
         rgba(orange, .7)),
         url(../img/background4.jpg);
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: inset 6px 6px 35px -8px rgba(0,0,0,0.75);
   }
}

.center-container {
   text-align: center;
   display: block;
   width: 100%;
   height: 80%;
   position: relative;

   // adding filter: drop-shadow allows elements with clip-path to have shadow
   // using box-shadow on "clipped" elements won't work
   // filter: drop-shadow(0 1.2rem .5rem rgba($color-black, .5));
}

.skill-container {
   position: absolute;
   // display: inline-block;
   width: 30%;
   height: 72%;
   top: 2rem;
   border-radius: 1rem;
   box-shadow: 1rem 2rem 1rem rgba($color-black, .2);
   transform: skewY(2.5deg);

   &:not(:last-child) {
      margin-right: 2rem;
   }
   
   &__stack-title {
      font-size: 3rem;
      font-weight: 700;
      padding-top: 1rem;
   }

}





